<div	class="card">
	<div class="card-body">
		<h1>About</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptates iste repellat voluptas officia, temporibus sint? Earum sapiente corrupti est optio, repudiandae, qui maxime assumenda delectus id quos nisi excepturi?</p>
	</div>
</div>