<div class="jumbotron mt-4">
	<h1 class="display-4">Notes app</h1>
	<p class="lead"> Lorem Ipsun </p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe aliquid tempora vitae adipisci et nemo, totam officiis quaerat veniam dolore incidunt nesciunt recusandae qui ullam. Doloremque ratione iusto tempore omnis!</p>

</div>